* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1D1E4C;
}

.content {
    max-width: 900px;
    margin: 0 auto;
}

.top_section {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    align-items: flex-end;
}

.top_section h1 {
    font-size: 60px;
    font-weight: bold;
}

.top_section h4 {
    font-size: 20px;
    text-align: end;
}

.Image_Container {
    border-radius: 50%;
    overflow: hidden;
}

.Image Container,
img {
    width: 300px;
    height: 320px;
}

.about_section {
    margin-top: 110px;
}

.about_section h2 {
    font-size: 77px;
    font-weight: 400;
}

.about_section p {
    line-height: 25px;
    letter-spacing: 1.2px;
    text-align: justify;
}


.Biography {
    margin-bottom: 100px;
}

.Biography h3 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.Biography ul {
    margin-left: 40px;
}

.Biography li {
    margin-bottom: 5px;
}

footer {
    margin-bottom: 30px;

}

footer p {
    text-align: end;
}